.footer{
    width: 100%;
    height: 440px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.links{
    width: 80%;
    display: flex;
    justify-content: center;
}
.exclusive{
    width: 20%;
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    list-style: none;
    gap: 15px;
}
.footer li{
    width: 100%;
    font-weight: 400;
}
li input{
    width: 80%;
    height: 40px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}
.footer p{
    color: rgba(249, 249, 249, 0.2);
    font-size: 16px;
    font-weight: 400;
}